@media all and (max-width: 1995px) {
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-bg #videoSlide2 {
    top: 10%;
    left: 35%;
    transform: translate(-45%, -10%);
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner {
    max-width: 70%;
  }
  #indexWinesSlickHolder .slick-slider .slick-slide .index-wines-slick-slide {
    opacity: 1 !important;
  }
  #indexWinesSlickHolder .slick-slider .slick-prev:before,
  #indexWinesSlickHolder .slick-slider .slick-next:before {
    display: none;
  }
  #indexContactHolder .index-contact-bgs div:first-child {
    width: 300px;
    right: 160px;
  }
  #indexContactHolder .index-contact-bgs div:last-child {
    width: 300px;
    left: 70px;
  }
}

@media all and (max-width: 991px) {
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-bg #videoSlide1 {
    top: 10%;
    left: 15%;
    transform: translate(-15%, -10%);
  }
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-bg #videoSlide2 {
    top: 10%;
    left: 55%;
    transform: translate(-55%, -10%);
  }
  #iTopHolder #indexTopSlick .index-top-slide {
    height: 70vh;
  }
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-cnt {
    height: 71vh;
  }
  #iTopHolder #indexTopSlick #indexTopSlide2 .index-top-slide-cnt {
    height: 70.5vh !important;
  }
  #iTopHolder #indexTopSlick #indexTopSlide2 {
    height: 70.5vh !important;
    background-size: cover;
    background-position: center right;
    background-repeat: no-repeat;
    background-image: url("http://basicallyeasy.com/Website CDNS/REACTCDNS/GrapeVines/posters/index/poster-2.jpg");
  }
  #iTopHolder #indexTopSlick .index-top-slide #indexTopSlideBg2 {
    display: none;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner {
    max-width: 80%;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    h2 {
    font-size: 32px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    p {
    font-size: 19px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    a {
    padding: 10px !important;
    font-size: 19px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    .link-dots
    span:nth-child(even) {
    margin-top: 3px !important;
    margin-bottom: 3px !important;
  }
  #iTopHolder #indexTopSlick .slick-dots {
    bottom: 50px;
  }
  #indexWinesUTHolder .index-wines-ut-background,
  #indexAboutHolder .index-about-bg {
    display: none;
  }
  #indexWinesUTHolder #indexWinesUT {
    margin-top: 0px !important;
    margin-bottom: 0px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side {
    width: 100%;
    height: 500px;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:last-child {
    height: 420px;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div {
    max-width: 600px;
    text-align: center;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    h3 {
    max-width: 80%;
    margin: auto !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    p {
    margin: auto !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg {
    max-width: 230px;
    margin: auto !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:first-child {
    height: 450px;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:last-child {
    height: 300px;
  }
  #indexAboutHolder #indexAbout {
    margin-top: 100px !important;
    margin-bottom: 90px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3 {
    text-align: center;
    font-size: 37px;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3
    br {
    display: none;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    p {
    text-align: center;
    max-width: 75%;
    margin: auto !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div {
    max-width: 250px;
    margin: auto !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a:last-child {
    margin-top: 0px !important;
  }
  #indexWinesSlickHolder .slick-slider .slick-slide .index-wines-slick-slide {
    opacity: 1;
    max-width: 100%;
  }
  #indexWinesSlickHolder .slick-slider .slick-prev:before,
  #indexWinesSlickHolder .slick-slider .slick-next:before {
    display: none;
  }
  #indexWinesSlickHolder .slick-slider .slick-slide .index-wines-slick-slide {
    opacity: 1;
    pointer-events: auto !important;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt {
    text-align: center;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt
    h3 {
    text-align: center;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt
    p {
    text-align: center;
    max-width: 550px;
    margin: auto !important;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt
    a {
    margin: auto !important;
  }
  #indexWinesSlickHolder .slick-slider .slick-dots {
    bottom: 80px;
  }
  #indexContactHolder .index-contact-bgs div {
    display: none;
  }
  #indexContactHolder {
    margin-top: 200px !important;
    margin-bottom: 250px !important;
  }
  #indexContactHolder #indexContact .index-contact-box {
    height: 300px;
  }
  #indexTeamHolder {
    margin-top: 150px !important;
    margin-bottom: 100px !important;
  }
  #indexTeamHolder .index-team-top p {
    text-align: center;
    max-width: 550px;
    margin: auto !important;
  }
  #indexTeamHolder .index-team-top a {
    font-size: 17px;
  }
  #indexTeamHolder
    .index-team-box
    .index-team-row
    .index-team-side
    .index-team-side-inner
    img {
    max-width: 75%;
  }
  #indexTeamHolder
    .index-team-box
    .index-team-row
    .index-team-side
    .index-team-side-inner {
    max-width: 100%;
  }
  #indexTeamHolder
    .index-team-box
    .index-team-row
    .index-team-side
    .index-team-side-inner
    .i-team-text
    q {
    font-size: 14px;
    max-width: 100%;
  }
  #indexTeamHolder
    .index-team-box
    .index-team-row
    .index-team-side
    .index-team-side-inner
    .i-team-text
    a {
    font-size: 14px;
  }
}

@media (min-width: 992px) {
}

@media all and (max-width: 768px) {
  #iTopHolder #indexTopSlick .index-top-slide {
    height: 70.6vh;
  }
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-cnt {
    height: 71.5vh !important;
  }
  #iTopHolder #indexTopSlick #indexTopSlide2 .index-top-slide-cnt {
    height: 70.5vh !important;
  }
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-bg #videoSlide1 {
    top: 10%;
    left: 30%;
    transform: translate(-30%, -10%);
  }

  #iTopHolder #indexTopSlick .slick-dots {
    position: absolute;
    bottom: 20px;
    right: 0 !important;
    max-width: 100px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner {
    max-width: 90%;
    position: relative;
    top: 40px;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    h2 {
    font-size: 22px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    p {
    font-size: 15px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    a {
    padding: 7px !important;
    font-size: 15px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    .link-dots
    span:nth-child(even) {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }
  #indexWinesUT {
    margin-top: 30px !important;
    margin-bottom: 120px !important;
    padding: 20px !important;
  }
  #indexWinesUTHolder #indexWinesUT {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-bottom: 0 !important;
  }
  #indexWinesUT .index-wines-ut-box .index-wines-ut-row .index-wines-ut-side {
    height: 390px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div {
    text-align: center;
    max-width: 100%;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    h3 {
    font-size: 23px !important;
    max-width: 75% !important;
    margin: auto !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    p {
    font-size: 13.5px !important;
    max-width: 95% !important;
    margin: auto !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    a {
    font-size: 13.5px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg {
    max-width: 40% !important;
    margin: auto !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:first-child {
    height: 300px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:last-child {
    height: 200px !important;
  }
  #indexWinesUTHolder .index-wines-ut-background {
    display: none;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    h3 {
    font-size: 21px !important;
    max-width: 70% !important;
  }
  #indexAboutHolder #indexAbout {
    margin-top: 50px !important;
    margin-bottom: 50px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3 {
    text-align: center;
    font-size: 23px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    p {
    font-size: 13.5px !important;
    max-width: 100% !important;
    margin: auto !important;
    text-align: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div {
    display: grid;
    justify-content: space-evenly;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a {
    font-size: 13.5px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a:last-child {
    margin-top: 20px !important;
  }
  #indexWinesSlickHolder {
    margin-bottom: 0px !important;
    padding-bottom: 0px !important;
  }
  #indexWinesSlickHolder .slick-slider .slick-list {
    height: 100%;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt
    h3 {
    font-size: 23px !important;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt
    p {
    font-size: 13.5px !important;
    max-width: 100% !important;
    margin: auto !important;
    text-align: center;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt
    a {
    font-size: 13.5px !important;
  }
  #indexWinesSlickHolder .slick-slider .slick-dots {
    bottom: 80px;
  }
  #indexContactHolder {
    margin-top: 110px !important;
    margin-bottom: 30px !important;
  }
  #indexContactHolder #indexContact .index-contact-box {
    height: 250px;
  }
  #indexContactHolder
    #indexContact
    .index-contact-box
    .index-contact-overlay
    div
    h3 {
    font-size: 23px !important;
  }
  #indexContactHolder
    #indexContact
    .index-contact-box
    .index-contact-overlay
    div
    a {
    font-size: 13.5px !important;
  }
  #indexTeamHolder {
    margin-top: 100px !important;
  }
  #indexTeamHolder .index-team-top h3 {
    font-size: 23px !important;
  }
  #indexTeamHolder .index-team-top p {
    font-size: 13.5px !important;
    max-width: 80% !important;
    margin: auto !important;
    text-align: center;
  }
  #indexTeamHolder .index-team-top a {
    font-size: 13.5px !important;
  }
  #indexTeamHolder .index-team-box .index-team-row .index-team-side {
    margin-bottom: 60px !important;
  }
  #indexTeamHolder
    .index-team-box
    .index-team-row
    .index-team-side
    .index-team-side-inner
    img {
    max-width: 55%;
  }
  #indexTeamHolder
    .index-team-box
    .index-team-row
    .index-team-side
    .index-team-side-inner
    .i-team-text
    q {
    max-width: 95% !important;
  }
}

/*! Pixel 2 XL */
@media only screen and (min-device-width: 411px) and (max-device-width: 823px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #iTopHolder #indexTopSlick .index-top-slide,
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-bg {
    height: 110vh !important;
  }
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-cnt {
    height: 110vh !important;
  }
  #iTopHolder #indexTopSlick #indexTopSlide2 {
    height: 110vh !important;
  }
  #iTopHolder #indexTopSlick #indexTopSlide2 .index-top-slide-cnt {
    height: 110vh !important;
  }
  #iTopHolder #indexTopSlick .slick-dots {
    bottom: 50px;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    h2 {
    font-size: 21px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    p {
    font-size: 15px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    a {
    padding: 7px !important;
    font-size: 15px !important;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  #indexWinesUTHolder #indexWinesUT {
    padding-left: 10px !important;
    padding-right: 10px !important;
    margin-bottom: 0 !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:first-child {
    max-width: 40% !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:last-child {
    max-width: 60% !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    h3 {
    max-width: 100% !important;
  }
  #indexAboutHolder .index-about-bg {
    display: none;
  }
  #indexAboutHolder #indexAbout {
    margin-top: 30px !important;
    margin-bottom: 70px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side {
    height: 100%;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3
    br {
    display: none;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3 {
    font-size: 21px;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    p,
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a {
    font-size: 13.5px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div {
    max-width: 250px;
    margin: auto !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a:last-child {
    margin-top: 0px !important;
  }
  #indexWinesSlickHolder {
    margin-bottom: 10px !important;
  }
  #indexContactHolder
    #indexContact
    .index-contact-box
    .index-contact-overlay
    div
    h3 {
    font-size: 32px !important;
  }
  #indexTeamHolder {
    margin-bottom: 0 !important;
  }
  #indexTeamHolder
    .index-team-box
    .index-team-row
    .index-team-side
    .index-team-side-inner
    img {
    max-width: 35%;
  }
  #indexTeamHolder
    .index-team-box
    .index-team-row
    .index-team-side
    .index-team-side-inner
    .i-team-text
    q {
    max-width: 400px;
  }
}

/*! Ipad */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner {
    max-width: 90%;
    position: relative;
    top: 50px;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    h2 {
    font-size: 45px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    p {
    font-size: 21px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    a {
    padding: 7px !important;
    font-size: 21px !important;
  }
  #iTopHolder #indexTopSlick .slick-dots {
    bottom: 80px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  #indexWinesUT .index-wines-ut-box .index-wines-ut-row .index-wines-ut-side {
    height: 500px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:first-child {
    max-width: 40% !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:last-child {
    max-width: 60% !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:first-child {
    height: 420px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:last-child {
    height: 320px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    h3 {
    max-width: 90% !important;
    font-size: 27px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    p {
    font-size: 14px !important;
    max-width: 340px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    a {
    font-size: 14px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3 {
    font-size: 30px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3
    br {
    display: none;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div {
    max-width: 250px;
    margin: auto !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a:last-child {
    margin-top: 0px !important;
  }
  #indexWinesSlickHolder .slick-slider .slick-slide .index-wines-slick-slide {
    opacity: 1;
    pointer-events: auto !important;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1) {
  #iTopHolder #indexTopSlick .index-top-slide {
    height: 107vh;
  }
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-cnt {
    height: 100vh;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner {
    max-width: 90%;
    position: relative;
    top: 50px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    h2 {
    font-size: 35px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    p {
    font-size: 15px !important;
  }
  #iTopHolder #indexTopSlick .slick-dots {
    bottom: 70px;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    a {
    padding: 7px !important;
    font-size: 15px !important;
  }
  #indexWinesUTHolder #indexWinesUT {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:first-child {
    max-width: 40% !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:last-child {
    max-width: 60% !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div {
    max-width: 400px;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    h3 {
    max-width: 100% !important;
    font-size: 27px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    p {
    font-size: 14.5px !important;
    max-width: 340px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    a {
    font-size: 14.5px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:first-child {
    height: 350px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:last-child {
    height: 250px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div {
    max-width: 250px;
    margin: auto !important;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a:last-child {
    margin-top: 0px !important;
  }
  #indexWinesSlickHolder .slick-slider .slick-slide .index-wines-slick-slide {
    opacity: 1;
    pointer-events: auto !important;
  }
  #indexWinesSlickHolder {
    margin-bottom: 10px !important;
  }
}

/*! iPad Pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    h2 {
    font-size: 55px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    p {
    font-size: 28px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    a {
    padding: 7px !important;
    font-size: 27px !important;
  }
  #iTopHolder #indexTopSlick .slick-dots {
    bottom: 120px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  #indexWinesUTHolder #indexWinesUT {
    margin-top: 40px !important;
    margin-bottom: 40px !important;
    padding-left: 20px !important;
    padding-right: 20px !important;
  }
  #indexWinesUTHolder .index-wines-ut-background {
    display: none;
  }
  #indexWinesUT .index-wines-ut-box .index-wines-ut-row .index-wines-ut-side {
    height: 650px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:first-child {
    max-width: 40% !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:last-child {
    max-width: 60% !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:first-child {
    height: 600px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:last-child {
    height: 500px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div {
    max-width: 85% !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    h3 {
    max-width: 100% !important;
    margin-left: auto !important;
    font-size: 35px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    p {
    font-size: 17px !important;
    max-width: 370px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    a {
    font-size: 17px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3 {
    font-size: 40px !important;
    text-align: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    p {
    text-align: center;
    font-size: 17px;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div {
    max-width: 270px;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a:last-child {
    margin-top: 0px !important;
  }
  #indexWinesSlickHolder .slick-slider .slick-slide .index-wines-slick-slide {
    opacity: 1;
    pointer-events: auto !important;
  }
}

@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 2) and (orientation: landscape) {
  #iTopHolder #indexTopSlick .index-top-slide {
    height: 100vh;
  }
  #iTopHolder #indexTopSlick .index-top-slide .index-top-slide-cnt {
    height: 100vh;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner {
    max-width: 80%;
    position: relative;
    top: 50px;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    h2 {
    font-size: 45px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    p {
    font-size: 25px !important;
  }
  #iTopHolder
    #indexTopSlick
    .index-top-slide
    .index-top-slide-cnt
    .index-top-slide-cnt-inner
    .index-top-slide-link-holder
    a {
    padding: 7px !important;
    font-size: 25px !important;
  }
  #iTopHolder #indexTopSlick .slick-dots {
    bottom: 80px;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  #indexWinesUTHolder #indexWinesUT {
    margin-bottom: 0 !important;
    margin-top: 0 !important;
  }
  #indexWinesUTHolder #indexWinesUT .index-wines-ut-box {
    max-width: 1200px !important;
  }
  #indexWinesUTHolder .index-wines-ut-background {
    display: none;
  }
  #indexWinesUT .index-wines-ut-box .index-wines-ut-row .index-wines-ut-side {
    height: 650px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:first-child {
    max-width: 40% !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side:last-child {
    max-width: 60% !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:first-child {
    height: 500px !important;
  }
  #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-side-bgs
    .index-wines-ut-bg:last-child {
    height: 400px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div {
    max-width: 75% !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    h3 {
    max-width: 99% !important;
    margin-left: auto !important;
    font-size: 41px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    p {
    font-size: 17px !important;
    max-width: 470px !important;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    a {
    font-size: 16px !important;
  }
  #indexAboutHolder .index-about-bg {
    display: none;
  }
  #indexAboutHolder #indexAbout {
    margin-top: 10px !important;
    margin-bottom: 70px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3 {
    font-size: 47px;
    text-align: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    h3
    br {
    display: none;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    p {
    text-align: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div {
    max-width: 250px !important;
    width: 100% !important;
    margin: auto !important;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    div
    a:last-child {
    margin-top: 0px !important;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt {
    text-align: center;
  }
  #indexWinesUnderSlick
    .index-wines-under-slick-box
    .index-wines-under-slick-row
    .index-wines-under-slick-side
    .index-wines-under-slick-cnt
    p {
    margin: auto !important;
    max-width: 600px;
  }
  #indexWinesSlickHolder {
    margin-bottom: 10px !important;
  }
  #indexContactHolder {
    margin-top: 200px !important;
    margin-bottom: 0px !important;
  }
  #indexContactHolder
    #indexContact
    .index-contact-box
    .index-contact-overlay
    div
    h3 {
    font-size: 55px !important;
  }
  #indexContactHolder
    #indexContact
    .index-contact-box
    .index-contact-overlay
    div
    a {
    padding: 10px !important;
    font-size: 19px;
  }
  #indexTeamHolder {
    margin-top: 300px !important;
  }
}

/*! Laptops */
@media screen and (min-device-width: 1200px) and (max-device-width: 1600px) and (-webkit-min-device-pixel-ratio: 1) {
  #iTopHolder #indexTopSlick .slick-dots {
    bottom: 80px;
  }
  #indexWinesUTHolder
    #indexWinesUT
    .index-wines-ut-box
    .index-wines-ut-row
    .index-wines-ut-side
    .index-wines-ut-text
    div
    p {
    font-size: 18px !important;
  }
  #indexAboutHolder
    #indexAbout
    .index-about-box
    .index-about-row
    .index-about-side
    .index-about-text
    p {
    font-size: 18px !important;
  }
}
